name: Change content in file into another

on:
  push:
    paths: 
      - 'change_content/*'
      - '.github/workflows/change_content.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: |
          cat tag_html.md
          sed -i -e 's/godot-admob-android/godot-admob-ios/g' tag_html.md
          cat tag_html.md
        working-directory: change_content
      
      #- name: Git Auto Commit
      #  uses: stefanzweifel/git-auto-commit-action@v4.15.0
      #  with:
      #    commit_message: Automated Change
