name: Change content in file into another

on:
  push:
    paths: 
      - 'change_content/correct_content.gdap'
      - 'change_content/tag_html.md'
      - '.github/workflows/change_content.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: |
          GDAP_FILE=change_content/correct_content.gdap
          MD_FILE=change_content/tag_html.md
          
          REGEX_FIND_GAD_SDK_VERSION_GDAP_FILE='(?<=play-services-ads:)(\d+[.]\d+[.]\d+)'
          
          GAD_SDK_VERSION=$(cat $GDAP_FILE | perl -ne 'print $1 if /'$REGEX_FIND_GAD_SDK_VERSION_GDAP_FILE'/s')
          perl -pi -e "s/(?<=GAD SDK Android-v)(\d+[.]\d+[.]\d+)/$GAD_SDK_VERSION/g" $MD_FILE
          cat $MD_FILE
      
      #- name: Git Auto Commit
      #  uses: stefanzweifel/git-auto-commit-action@v4.15.0
      #  with:
      #    commit_message: Automated Change
